footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background-color: #f8f9fb;
  /* min-height: 100%; */
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  /* grid-template-areas: 'logo-faleConosco redeSocial'; */
}

.logo-contato {
  display: grid;
  /* grid-template-areas: 'logo contato'; */
  grid-template-columns: 50% 50%;
}

.container-logo-contato {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fale-conosco {
  display: flex;
  flex-direction: column;
}

h5 {
  font-size: 0.9rem;
}

.horario-funcionamento {
  display: flex;
  flex-direction: column;
}

.barra {
  height: 1px;
  width: 80%;
  background-color: black;
}

.container-rede-social {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'links social';
}

.button-footer {
  display: grid;
  place-items: center;
  border: none;
  border-radius: 100px;
  height: 30px;
  width: 200px;
  background-color: #0199c8;
  font-weight: 700;
  color: white;
}

.links-button {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
}

.rede-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icones {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-logo-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.7rem;
  }

  .container-rede-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 0.7rem;
  }

  .links-button {
    display: flex;
    align-items: center;
  }

  .fale-conosco {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
  }
}